.scan-button-left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-width: 0px;
}

.scan-button-center {
  border-radius: 0px;
  border-right-width: 0px;
}

.scan-button-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
