#doclist_body spinner {
	background-color: rgba(0, 0, 0, 0.25);
}

#doclist_scroll button image {
	border: 0px;
}

.search_field {
  padding: 12px;
  background-color: @theme_bg_color;
}

.search-left, .search-right {
  border: 1px solid shade(@theme_bg_color, 0.9);
  background-color: shade(@theme_bg_color, 0.9);
}

.date_label {
  color: shade(@theme_bg_color, 0.75);
  font-size: large;
  font-weight: 800;
  margin-top: 12px;
  margin-left: 6px;
  margin-right: 6px;
}

.border-bottom-light {
  padding-bottom: 4px;
  border-bottom: 1px solid shade(@theme_bg_color, 0.75);
}

.doclist {
  padding-left: 6px;
  padding-right: 6px;
  background-color: @theme_bg_color;
}

.doclist_item {
  padding-top: 4px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid @theme_bg_color;
  border-radius: 6px;
  color: @theme_fg_color;
}

.doclist_item:hover {
  border: 1px solid shade(@theme_bg_color, 0.9);
  background-color: mix(@theme_bg_color, @theme_base_color, 0.6);
  color: @theme_fg_color;
}

.doclist_item:selected {
  border: 1px solid shade(@theme_bg_color, 0.75);
  background-color: @theme_base_color;
  color: @theme_fg_color;
}

.doclist_item:selected image {
  color: mix(@theme_base_color, @theme_fg_color, 0.85);
}

.doclist_item:hover .border-bottom-light, .doclist_item:selected .border-bottom-light {
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.doclist_thumbnail {
  border: 1px solid shade(@theme_bg_color, 0.75);
  background-color: mix(@theme_bg_color, @theme_base_color, 0.9);
  color: mix(@theme_base_color, @theme_fg_color, 0.85);
}
